
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.crt
*.csr
*.db-journal
*.key
*.pid
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.HA_VERSION
*.state

.uuid
.HA_VERSION
.homekit.state

*.json
*.conf
*.log
*.log
*.db

known_devices.yaml
secrets.yaml

custom_components
deps
www

dockermon.yaml
entity_registry.yaml

docker
docker-compose.yaml
